/* This is a CSS comment */

body {
	background-color: turquoise;
	background-image: url(../images/bg.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: 50% 50%;
	font-family: Helvetica, Arial, sans-serif;
}

.main {
	background-color: rgba(255,255,255,0.8);
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
	border-radius: 20px;
	box-shadow: 0px 0px 50px 10px black;
}

h1 {
	text-align: center;
	margin-bottom: 0;
	text-shadow: 0 0 10px orange;
	font-family: 'Andada', serif;
}

h2{
	text-align: center;
	margin-bottom: 0;
	font-weight: normal;
	letter-spacing: 5px;
	text-transform: uppercase;
}

h3{
	margin-bottom: 0;
}

h3:hover {
	text-decoration: underline;
	cursor: pointer;
}

img {
	width: 200px;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

p,
ul,
ol {
	list-style: none;
	padding-left: 0;
	line-height: 1.5;
}

.js h3 + * {
	display: none;
}

a {
	color: purple;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: green;
}